# PHPStorm
/.idea/

# VSCodeish
*.code-workspace

# Composer
/vendor/
/composer.phar

# Build data
.env
*.lock
/src/Type.php
/src/Config.php
/src/Type/*
/src/Cache/ManifestCache.php
/public/
/var/
/build/
/index.php

# Node
/node_modules/
package-lock.json