includes:
	- vendor/northrook/php-cs/extension.neon
parameters:
	paths:
		- src
		- bin
		- tests
	excludePaths:
		- tests/Cases/**
		- var/*
	ignoreErrors:
		-
			message: '#Dead catch#'
			path: */Core/DateTime/TimeZone.php
		-
			message: '#Attribute class JetBrains\\PhpStorm\\Language does not exist#'
			path: *.php